DATABASE_URL="postgresql://user:password@localhost:5432/pivovarna"
NEXTAUTH_SECRET="your-secret-here-change-in-production-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
